### Data structures in Pandas

```
Data Structure   Dimension   Description
Series               1         1D array
DataFrame            2         2D array - container of series
Panel                3         3D array - container of DataFrame
```

#### Homogeneous data, Size, Value mutable

#### `pd.Series`

Empty series

In [1]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [2]:
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
index=[21,22,23,26]  # NOTE: cannot reindex from a duplicate axis
s = pd.Series(data,index)
print(s)

21    a
22    b
23    c
26    d
dtype: object

In [4]:
print(s[21]) # retrieve using index

a

In [5]:
print(s[[21,26]]) # retrieve using indices

21    a
26    d
dtype: object

#### `pd.DataFrame`

In [6]:
data=[['Luke',23],['Leia',23],['Hans Solo',36],['Chebacca',203]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

        Name  Age
0       Luke   23
1       Leia   23
2  Hans Solo   36
3   Chebacca  203

In [7]:
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

        Name    Age
0       Luke   23.0
1       Leia   23.0
2  Hans Solo   36.0
3   Chebacca  203.0

In [8]:
data={'Name':['Luke','Leia','Hans Solo','Chebacca'],'Age':[23,23,36,203]}
df=pd.DataFrame(data)
print(df)

   Age       Name
0   23       Luke
1   23       Leia
2   36  Hans Solo
3  203   Chebacca

In [9]:
index=['char-1','char-2','char-3','char-5']
df=pd.DataFrame(data,index)
print(df)

        Age       Name
char-1   23       Luke
char-2   23       Leia
char-3   36  Hans Solo
char-5  203   Chebacca

In [10]:
data={'Name':['Pippin','Frodo','Bilbo','Gollum','Samwise Gamgee'],'Age':[29,51,129,589,39]}
index=['char-1','char-2','char-3','char-4','char-5']

df=pd.DataFrame(data,index)
print(df)

        Age            Name
char-1   29          Pippin
char-2   51           Frodo
char-3  129           Bilbo
char-4  589          Gollum
char-5   39  Samwise Gamgee

Create a DataFrame from Dict of Series

In [20]:
data1=['Luke','Leia','Hans Solo','Chebacca']
data2=[23,23,36,203]

index1=['char-1','char-2','char-3','char-5']

SW={'Name1':pd.Series(data1,index1), 'Age1':pd.Series(data2,index1)}
SW=pd.DataFrame(d1)
print(SW)

        Age1      Name1
char-1    23       Luke
char-2    23       Leia
char-3    36  Hans Solo
char-5   203   Chebacca

In [21]:
data3=['Pippin','Frodo','Bilbo','Gollum','Samwise Gamgee']
data4=[29,51,129,589,39]

index2=['char-1','char-2','char-3','char-4','char-5']

d2={'Name2':pd.Series(data3,index2), 'Age2':pd.Series(data4,index2)}
LOTR=pd.DataFrame(d2)
print(LOTR)

        Age2           Name2
char-1    29          Pippin
char-2    51           Frodo
char-3   129           Bilbo
char-4   589          Gollum
char-5    39  Samwise Gamgee

Addiing a new column

In [24]:
d={'SW':pd.Series(data1,index1),'SW Age':pd.Series(data2,index1)}
FILMS=pd.DataFrame(d)
print(FILMS)

               SW  SW Age
char-1       Luke      23
char-2       Leia      23
char-3  Hans Solo      36
char-5   Chebacca     203

In [26]:
FILMS['LOTR']=pd.Series(data3,index2)
print(FILMS)

               SW  SW Age            LOTR
char-1       Luke      23          Pippin
char-2       Leia      23           Frodo
char-3  Hans Solo      36           Bilbo
char-5   Chebacca     203  Samwise Gamgee

Addiing a new column -- showing missing values

In [43]:
d={'LOTR':pd.Series(data3,index2),'LOTR Age':pd.Series(data4,index2)}
FILMS=pd.DataFrame(d)
print(FILMS)

                  LOTR  LOTR Age
char-1          Pippin        29
char-2           Frodo        51
char-3           Bilbo       129
char-4          Gollum       589
char-5  Samwise Gamgee        39

In [44]:
FILMS['SW']=pd.Series(data1,index1)
FILMS['SW Age']=pd.Series(data2,index1)
print(FILMS)

                  LOTR  LOTR Age         SW  SW Age
char-1          Pippin        29       Luke    23.0
char-2           Frodo        51       Leia    23.0
char-3           Bilbo       129  Hans Solo    36.0
char-4          Gollum       589        NaN     NaN
char-5  Samwise Gamgee        39   Chebacca   203.0

In [45]:
FILMS['TOTAL AGE']=FILMS['LOTR Age']+FILMS['SW Age']
print(FILMS)

                  LOTR  LOTR Age         SW  SW Age  TOTAL AGE
char-1          Pippin        29       Luke    23.0       52.0
char-2           Frodo        51       Leia    23.0       74.0
char-3           Bilbo       129  Hans Solo    36.0      165.0
char-4          Gollum       589        NaN     NaN        NaN
char-5  Samwise Gamgee        39   Chebacca   203.0      242.0

In [46]:
FILMS.pop('TOTAL AGE')
print(FILMS)

                  LOTR  LOTR Age         SW  SW Age
char-1          Pippin        29       Luke    23.0
char-2           Frodo        51       Leia    23.0
char-3           Bilbo       129  Hans Solo    36.0
char-4          Gollum       589        NaN     NaN
char-5  Samwise Gamgee        39   Chebacca   203.0